body {
    background-color: #2F4F4F;
    font-size: 25px;
    text-align: center;
    color: blueviolet;
}


h1 {
    text-decoration: underline;
}

a {
    width: 200px;
    height: 200px;
    text-align: center;
 }

 body {
    background-image: url("img/parc.jpg");
    background-size: 100%;
}
